<div class="form-group">
    <label for="zone">Atrium Zone</label>
    <input type="text" class="form-control" th:field="*{Zone}" id="zone">
</div>
<div class="form-group">
    <label for="rentaltype">Rental Type</label>
    <input type="text" class="form-control" th:field="*{rentType}" id="rentaltype">
</div>
<div class="form-group">
    <label for="daytype">Days on which available</label>
    <input type="text" class="form-control" th:field="*{dayType}" id="daytype">
</div>
<div class="form-group">
    <label for="rent">Rent</label>
    <input type="text" class="form-control" th:field="*{rent}" id="rent">
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Add Atrium</button>
</div>
