<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="/imports"></div>
    <style rel="stylesheet">
        .jumbotron-myJumbo{
            width: 75%;
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body>
<div th:replace="/navbar"></div>

<div class="jumbotron jumbotron-myJumbo">
    <h1 class="display-4">Registered successfully!!</h1>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" th:href="@{/welcome}" role="button">Home</a>
    </p>
</div>

</body>
</html>