<html xmlns:th ="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <div th:replace="/imports"></div>
        <style rel="stylesheet">
            .myJumbo{
                text-align: center;
                width: 80%;
                margin: auto;
            }

            .my-container{
                margin: auto;
                width: 80%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div th:replace="/navbar"></div>

        <div class="jumbotron myJumbo">
            <h1 class="display-4">Register new Complaint</h1>
            <hr class="my-4">
        </div>


        <div class="container my-container">
            <form class="form" action="#" th:object="${complaint}" th:method="post"  th:action="@{/addcomplaint}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" th:field="*{username}" id="username">
                </div>
                <div class="form-group">
                    <label for="rentaltype">Property Type</label>
                    <input type="text" class="form-control" th:field="*{property}" id="rentaltype">
                </div>
                <div class="form-group">
                    <label for="daytype">Problem Type</label>
                    <input type="text" class="form-control" th:field="*{problemType}" id="daytype">
                </div>
                <div class="form-group">
                    <label for="rent">Description</label>
                    <input type="text" class="form-control" th:field="*{description}" id="rent">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit Complaint</button>
                </div>

            </form>
            <br>
            <p class="lead">
                <a class="btn btn-primary btn-lg" th:href="@{/welcome}" role="button">Go Back</a>
            </p>
        </div>

    </body>
</html>