<!DOCTYPE html>
<html  xmlns:th ="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atrium List</title>
    <div th:replace="/imports"></div>
</head>
<body>
<div th:replace="/navbar"></div>
<div class="container">
    <h3>Details of banners and it's rent.</h3>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Day Type</th>
            <th scope="col">Rent</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="banner : ${banners}">
            <td th:text="${banner.dayType}"></td>
            <td th:text="${banner.rent}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <p class="lead">
        <a class="btn btn-primary btn-lg" th:href="@{/}" role="button">Go Back</a>
    </p>
</div>


</body>
</html>

